{%extends 'base.html'%}
{%block content%}
{{block.super}}

<div class="container-fluid">
    <div class="row">
        {%for photo in photo_gallery%}
        <div class="col-md-4 col-sm-12 col-lg-4 " >
             <div class="modal-dialog " role="document">
                <div class="modal-content"style="width: 400px;">
                    <h5 class="modal-title text-center" id="exampleModal3Label">{{photo.image_name}}</h5>
                       <a href="{%url 'photo' photo.id %}"><img src="{{photo.image.url}} " class="img-responsive pt-3" alt="Image"></a>
                    <div class="modal-body">
                        <p>Image Description: {{photo.image_description}}</p>
                        <p class="text-muted">Category: {{photo.category}}</p>
                        <p class="text-muted">Location: {{photo.location}}</p>
                        <p class="text-muted">{{photo.upload_date}}</p>
                    </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
</div>

{%endblock%}