{%extends'base.html' %}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-6 col-lg-6">
            <div class="card">
                <img src=" {{image.image.url}} " alt="">
            </div>
        </div>
        <div class="col-md-6 col-xs-6 col-lg-6">
            <p class="display5">{{image.image_name}} </p>
            <p class="display5"> {{image.image_description}} </p>
            <p class="display5">Posted {{image.upload_date | timesince}} </p>
        </div>

    </div>
</div>